*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid: 534px / 711px 399px;
  grid-template-areas: 'result content__details';
  justify-items: center;
  align-items: end;
  gap: 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  grid-area: result;
  justify-content: center;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;

  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__card-link {
  display: block;
  padding: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link_current {
  text-decoration-skip-ink: none;
  background-color: #545050;
}

.content__card-link_current:active {
  text-decoration: none;
  text-decoration-skip-ink: none;
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card:focus {
  outline: none;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area: content__details;
  justify-content: center;
  gap: 26px;
  align-self: end;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.content__video-card-title {
  width: 192px;
  overflow: hidden;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
  align-self: flex-start;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title {
  margin-bottom: auto;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-item {
  padding: 2px 3px 2px 2px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: fit-content;
  border-style: none;
}

.search-form__fieldset:focus {
  outline: none;
}

.search-form__fieldset:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  width: 225px;
  border-top: 1px solid #fff;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  outline: none;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  width: 212px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:not(:has(.search-form__textfield)):hover {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

input[type='checkbox']:checked + span.search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background: #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  margin: 30px 2px 2px;
  padding: 6px 4px;
  font-weight: 700;
  font-size: 18px;
}

.search-form__submit-button {
  width: 194px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
}
